.main{
  background-size: 100% !important;
  bottom: 0;
  width: 100vw;
  position: absolute;
  height: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}
.title{
 font-size: 35px;
 font-weight: bold;
 margin-top: 35px;
}
.description{
 margin-top: 25px;
 max-width: 500px;
 hyphens: auto;
 text-align: center;
}
.logosContainer{
  display: flex;
  justify-content: center;
  align-items: center ;
}
.logosContainer>*{
  margin-right: 35px;
}
.logoIcon{
  width: auto;
  height: 50px !important;
}
.logoSeparator{
  width: auto;
  height: 30px
}
.buttonDownload{
  display: flex;
  justify-content: flex-between;
  margin-top: 35px;
}
.videoOfStation{
  height: auto;
  width: 400px;
  border-radius: 10.4px;
  box-shadow: 10px 10px 42px -21px rgba(0,0,0,0.75);
}
.details{
  margin-top: 35px;
  margin-bottom: 25px;
  max-width: 500px;
  hyphens: auto;
  text-align: center;
}